body {
  margin: 0px;
}

.background-earth {
  background-image: url(assets/earth.jpg);
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

.section-hero {
  color: white;
}

.section-details {
  color: whitesmoke;
}

.astronaut-1 {
  transform: translate(40vw, -10vh) rotate(213deg);
}

.astronaut-2 {
  transform: translate(10vw, -24vh) rotate(-27deg);
}

.astronaut-3 {
  transform: translate(50vw, -40vh) rotate(213deg);
}

/* Utilities Classes */
.max-width-medium {
  max-width: 20rem;
}

.height-screen {
  height: 100vh;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.glassmorphisme {
  /* From https://css.glass */
  background: rgb(13 13 13 / 48%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
}
